<div class="home-header">
    {{#if search}}
    <h1>Você está buscando por: <span>{{search}}</span></h1>
    {{#if toughtsQty}}
    <p>Encontramos <span>{{toughtsQty}}</span> pensamentos para a sua busca.</p>
    {{else}}
    <p>Não encontramos nenhum resultado para a sua busca!</p>
    {{/if}}
    {{else}}
    <h1>Conheça alguns dos nossos <span>pensamentos!</span></h1>
    <p>Há um total de <span>{{toughtsQty}}</span> pensamentos cadastrados!</p>
    {{/if}}
    <form action="/" method="get">
    <input type="text" name="search" placeholder="Digite a sua busca">
    <input type="submit" class="btn" value="Buscar">
    </form>
    <div class="order-container">
        <span>Ordenar</span>
        <form action="/" method="get">
        <input type="hidden" name="search" value="{{this.search}}">
        <input type="hidden" name="order" value="new">
        <button type="submit"><i class="bi bi-arrow-up"></i></button>
        </form>
        <form action="/" method="get">
        <input type="hidden" name="search" value="{{this.search}}">
        <input type="hidden" name="order" value="old">
        <button type="submit"><i class="bi bi-arrow-down"></i></button>
        </form>
        <a href="/">Limpar</a>
    </div>
</div>
<div class="toughts-container">
    {{#each toughts}}
<figure>
    <blockquote>
        "{{this.title}}"
    </blockquote>
    <figcaption>
        por <span>{{this.User.name}}</span>
    </figcaption>
</figure>
    {{/each}}
</div>